header {
    background-color: #2cb539 !important;
    z-index: 1;
    top: 0;
}

.header.scrolled {
    background-color: #eeeeee !important;
    transition: background-color 200ms linear;
}

.navbar-toggler {
    color: white !important;
}

.nav-link {
    color: white !important;
    padding: 20px;
}

.nav-link.scrolled {
    color: black !important;
    padding: 20px;
}

.fa-bars.scrolled {
    color: black;
}

.banner {
    background-color: #2cb539;
    width: auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1,
h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.card1 {
    text-align: center;
}

.card {
    border: 0cm!important;
}

.card-text:last-child {
    padding-left: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #2cb539!important;
    border-color: #2cb539!important;
}

.footer {
    background-image: url('../Images/footer.jpg');
    background-size: 100vw 300px;
    width: auto;
    height: 300px;
}

.end {
    background-size: 100vw 100vh;
    background-color: #333333;
    width: auto;
    height: auto;
}